<div id="flexRow">
    <!-- cols images -->
    <%- include("images"); %>

    <!-- cols text, days -->
    <div class="pm1" style="width: 700px">
        <% var i=1; days.forEach( (pa) => { %>
        <div style="width: 100%; background-color: rgb(54, 184, 216); border-radius: 12px; margin: 6px; float: left;">
            <h3><%= pa.dd_mm_yyyy() %> <%= pa.title %></h3>
        </div>
        <% i++; }); %>
    </div>
</div>
<script>setQuery('?icols=2');</script>