<div id="flexRow">
<% 
    var cols = query.icols == undefined ? 3 : +query.icols;
    var imgs = query.imgs == undefined ? 4 : query.imgs;
    for( var d=1; d<=cols; d++) { %>
    <div class="pm1" style="width: 350px">
        <% for ( var i=0; i < imgs; i++ ) { var img = imageSample(); %>
            <img class="pm1" src="/<%= img %>?resize=<%= size %>" title="<%= img %>"/>
        <% }; %>
    </div>
<% }; %>
</div>

<script>setQuery('?icols=3&imgs=4');</script>